[project]
	description = The seed project structure to allow creation of various projects
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yasen Petrov (YasenPetrov)
[access "refs/for/refs/*"]
	read = group user/Yasen Petrov (YasenPetrov)
	push = group user/Yasen Petrov (YasenPetrov)
	label-Code-Review = -2..+2 group user/Yasen Petrov (YasenPetrov)
	label-Verified = -1..+1 group user/Yasen Petrov (YasenPetrov)
	rebase = group user/Yasen Petrov (YasenPetrov)
	removeReviewer = group user/Yasen Petrov (YasenPetrov)
	submit = group user/Yasen Petrov (YasenPetrov)
[access "refs/heads/*"]
	read = group user/Yasen Petrov (YasenPetrov)
	create = group user/Yasen Petrov (YasenPetrov)
	push = +force group user/Yasen Petrov (YasenPetrov)
	pushMerge = group user/Yasen Petrov (YasenPetrov)
[access "refs/tags/*"]
	push = +force group user/Yasen Petrov (YasenPetrov)
	pushTag = group user/Yasen Petrov (YasenPetrov)
	pushSignedTag = group user/Yasen Petrov (YasenPetrov)
